<h1>Generate registration number for user:</h1>
<%= form_tag("orders", method: "get") do %>
  <%= label_tag(:q, "Generate registration number for user:",class:"form-control")  %>

  <%= select_tag 'q', options_for_select(User.all.collect{ |u| [u.username, u.id ] }),class:"form-control" %>
  <%= submit_tag("Generate code",class:"form-control") %>
<% end %>
Here will be the code to create shop:<%= @register&.code%>


<h2>Your orders</h2>
<table class="table table-bordered">
	<tr>
		<th>Name of the product</th>
		<th>price</th>
		<th>shop</th>
		<th>category</th>
		<th>description</th>
		<th>brand</th>
		<th>ram</th>
		<th>storage</th>
		<th>offerprice</th>
	</tr>

	<% if @items.present?%>
	
	<%@items.each do |notice|%>
	<tr>
		<td><%=notice&.order&.items&.first&.product&.name%></td>
		<td><%=notice&.order&.items&.first&.product&.price%></td>
		<td><%=notice&.order&.user&.shop&.name%></td>
		<td><%=notice&.order&.items&.first&.product&.category%></td>
		<td><%=notice&.order&.items&.first&.product&.description%></td>
		<td><%=notice&.order&.items&.first&.product&.brand%></td>
		<td><%=notice&.order&.items&.first&.product&.ram%></td>
		<td><%=notice&.order&.items&.first&.product&.storage%></td>
		<td><%=notice&.order&.items&.first&.product&.offerprice%></td>
	</tr>
	<%end%>
<%else%>
<p>It seems, You Do not have orders yet!!</p>

<%end%>
</table>